{% extends 'base.html' %}

{% block title %}
<title>Gerenciador de Estoque</title>
{% endblock %}


{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Produtos</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">Produtos</div>
            <div class="card-body">
                <div class="card mb-4">
                    <div class="card-header">Novo Produto</div>
                    <div class="card-body">
                        <form action="/products/" method="POST" id="product_form">
                            <label for="product_name" class="col-form-label">Nome do Produto</label>
                            <input type="text" name="product_name" id="product_name">
                            <input id="submitProduct" value="Adicionar Produto" class="btn btn-primary">
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Tabela de Produtos
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if products|length < 1 %}
                        <h4>Não há produto cadastrado</h4>
                        {% else %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nome do Produto</th>
                                    <th>Data</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nome do Produto</th>
                                    <th>Data</th>
                                    <th>Ações</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td>{{ product.product_id }}</td>
                                    <td>{{ product.date_created.date() }}</td>
                                    <td>
                                        <a href="/delete-product/{{ product.product_id }}">Deletar</a>
                                        <br>
                                        <a href="/update-product/{{ product.product_id }}">Atualizar</a>  
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}